<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @order.text %>
</p>

<p>
  <strong>Id user:</strong>
  <%= @order.id_user %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
